
  <%= form_for(@new_mailing, :html => { :class => "form-inline" }) do |f| %>
  <% if @new_mailing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailing.errors.count, "error") %> prohibited this mailing from being saved:</h2>

      <ul>
      <% @new_mailing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>
    <h4>Inscrivez vous à notre mailing list!</h4></br>
    <%= f.text_field :email %>
    <%= f.submit "S'inscrire!", :class => "btn btn-primary" %>
</center>
<% end %>
