<h1> Envoyer la mailing list </h1>
    <div  class="form-inline"><%= form_tag(send_nl_path, :method => :get) do %>

   <%=   select_tag("Spectacle", options_for_select(Spectacle.all.sort_by{|s| s.start_time}.reject{ |s| (s.start_time-DateTime.now)<0 }.map{|s| s.titre}))%>

      <%= submit_tag "Envoyer!"%>
    <% end %></div>


<h1><%= @mailings.size %> inscrits</h1>

<%= render 'form' %>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @mailings.each do |mailing| %>
  <tr>
    <td><%= mailing.nom %></td>
    <td><%= mailing.email %></td>
    <td><%= link_to 'Edit', edit_mailing_path(mailing) %></td>
    <td><%= link_to 'Destroy', mailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<div class="form-inline">
  <%= form_tag(import_csv_path, :multipart => true) do %>
      <%= file_field_tag :csv_file %>

      <%= submit_tag "importer csv"%>
  <% end %>
</div>


<div class="form-inline">
  <%= form_tag(destroyAll_path) do %>
      <%= submit_tag "Detruire tout!"%>
  <% end %>
</div>

