<h1>Liste des inscrits</h1>

<%= render 'form' %>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @mailings.each do |mailing| %>
  <tr>
    <td><%= mailing.nom %></td>
    <td><%= mailing.email %></td>
    <td><%= link_to 'Edit', edit_mailing_path(mailing) %></td>
    <td><%= link_to 'Destroy', mailing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


