<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<p>Un nouveau spectacle des Evadés de la rue Barrow le <%=  @spectacle.start_time.mday.to_s+"/"+@spectacle.start_time.mon.to_s+"/"+@spectacle.start_time.year.to_s %> à <%= @spectacle.start_time.hour %>!</p>

<h2><%= @spectacle.titre %></h2>

<%= image_tag @spectacle.affiche.url(:homePage) %>

<p><%= @spectacle.message %></p>

<p>Vous pourrez voir à l'oeuvre <%= @evades.map{|evade| evade.surnom}.join(", ")%> !</p>

<h3>Lieu : <%= @lieu.nom %> </h3>
<p><%= @lieu.street %></p>
<p><%= @lieu.city %></p>


  </body>
</html>