    <h1><%= cavale.titre %></h1>
    <p><%= cavale.message %></p>
    <div class="btn-group">
  <button class="btn"><%= link_to 'Show', cavale %></button>
  <button class="btn"><%= link_to 'Edit', edit_cavale_path(cavale) %></button>
  <button class="btn"><%= link_to 'Destroy', cavale, method: :delete, data: { confirm: 'Are you sure?' } %></button>
</div>