<h1>Liste des lieux</h1>

<table class="table table-striped">
  <tr>
    <th>Nom</th>
    <th></th>
  </tr>

<% @lieus.each do |lieu| %>
  <tr>
    <td><%= lieu.nom %></td>
    <td>
<div class="btn-group">
  <button class="btn btn-primary"><%= link_to 'Voir', lieu %></button>
    <button class="btn btn-primary"><%= link_to 'Editer', edit_lieu_path(lieu) %></button>
    <button class="btn btn-primary"><%= link_to 'Supprimer', lieu, method: :delete, data: { confirm: 'Êtes-vous sur?' } %></button>
  </td>
  </tr>
<% end %>
</table>

<%= gmaps4rails(@jsonGmaps) %>


<br />

 <button class="btn btn-new btn-primary"><%= link_to 'New Lieu', new_lieu_path %></button>




