<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @lieu.nom %>
</p>

<p>
  <b>Adresse:</b>
  <%= @lieu.adresse %>
</p>

<p>
  <b>Gmapurl:</b>
  <%= @lieu.gMapUrl %>
</p>


<%= link_to 'Edit', edit_lieu_path(@lieu) %> |
<%= link_to 'Back', lieus_path %>
