<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @lieu.nom %>
</p>

<p>
  <b>Adresse:</b>
  <%= @lieu.adresse %>
</p>

<p>
  <b>Gmapurl:</b>
  <% @lieu.gMapUrl %>
</p>

<h2> Spectacles qui ont eu lieu ici </h2>
<table class="table table-striped table-bordered">

    <thead>
<%= render "spectacles/spectacles_list_head" %>
  </thead>
<tbody>
<%= render :partial=>"spectacles/spectacles_list", :collection =>@lieu.spectacles, :as => :spectacle %>
</tbody>

</table>




<%= link_to 'Edit', edit_lieu_path(@lieu) %> |
<%= link_to 'Back', lieus_path %>
