<%= form_for(@spectacle) do |f| %>
  <% if @spectacle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spectacle.errors.count, "error") %> prohibited this spectacle from being saved:</h2>

      <ul>
      <% @spectacle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :teaser %>
    <%= f.text_area :teaser%>
  </div>  
  <div class="field">
    <%= f.label :message %>
    <%= f.cktext_area :message, :ckeditor => {:language => "fr", :toolbar => "mini"}%>
  </div>
  <div class="field">  
    <%= f.label :lieu %>
<%= f.select(:lieu_id,Lieu.all.map{|l| [l.nom,l.id]}) %>
  </div>
  <div class="field">
    <%= f.label :date %>
    <%= datetime_select :spectacle, :start_time %>
  </div>
  <div class="field">
    <%= f.label :affiche %><br />
  <%= f.file_field :affiche %>
</div>

  <div class="field">
  <%= f.label :evades %>
  <%= collection_select(:spectacle, :user_ids, @users, :id, :surnom, {:prompt => " "}, { :multiple => true })%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
