<%= form_for(@spectacle) do |f| %>
  <% if @spectacle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spectacle.errors.count, "error") %> prohibited this spectacle from being saved:</h2>

      <ul>
      <% @spectacle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br />
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div class="field">  
<%= f.select(:lieu_id,Lieu.all.map{|l| [l.nom,l.id]}) %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= datetime_select :spectacle, :start_time %>
  </div>

  <p>Evadés :</p><br />
  <%= collection_select(:spectacle, :user_ids, @users, :id, :surnom, {:prompt => " "}, { :multiple => true })%>
  <p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
