  <tr>
    <td><%= spectacle.titre %></td>
    <td><%= spectacle.start_time %></td>
    <td><%= spectacle.users.count %></td>
    <td>
      <div class="btn-group">
  <button class="btn btn-primary"><%= link_to 'Voir', spectacle %></button>
  <button class="btn btn-primary"><%= link_to 'Edit', edit_spectacle_path(spectacle) %></button>
  <button class="btn btn-primary"><%= link_to 'Destroy', spectacle, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </div>
    </td>
  </tr>

