<p id="notice"><%= notice %></p>

<p>
  <b>Titre:</b>
  <%= @spectacle.titre %>
</p>

<%= image_tag @spectacle.affiche.url %>

<p>
  <b>Message:</b>
  <%= @spectacle.message %>
</p>

<p>
  <b>Date:</b>
  <%= @spectacle.start_time.to_s unless @spectacle.start_time.nil? %>
</p>


<%= link_to 'Edit', edit_spectacle_path(@spectacle) %> |
<%= link_to 'Back', spectacles_path %>

<br>

<%= render "lieus/show_adresse", :object => @lieu %>

<h3>Ce spectacle a vu <%= @spectacle.users.count %> évadés : </h3>
<table class="table table-striped table-bordered">

    <thead>
<%= render "users/users_list_head" %>
  </thead>
<tbody>
<%= render :partial=>"users/users_list", :collection =>@spectacle.users, :as => :user %>
</tbody>

</table>

<button class="btn btn-primary"><%= link_to "Télécharger l'affiche", @spectacle.affiche.url(:original, false) %></button>