<div class="page-header">
<h1><%= @user.surnom %></h1>
</div>
<p id="notice"><%= notice %></p>

<%= image_tag @user.avatar.url(:large) %>


<p>
  <b>Nom:</b>
  <%= @user.nom %>
</p>





<p>
  <b>Prenom:</b>
  <%= @user.prenom %>
</p>




<br>

<h3>Casier judiciaire, <%= @user.spectacles.count %> spectacles : </h3>
<table class="table table-striped">
    <thead>
<%= render "spectacles/spectacles_list_head" %>
  </thead>
<tbody>
<%= render :partial=>"spectacles/spectacles_list", :collection =>@user.spectacles, :as => :spectacle %>
</tbody>

</table>
 <% if user_signed_in? %>

<%= link_to 'Edit', edit_user_path(@user) %> |
 <% end %>

<%= link_to 'Back', :back %>