<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn btn-block btn-danger btn-large" data-toggle="modal">Rejoignez la troupe!</a>
 


<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Rejoignez les évadés</h3>
  </div>
  <div class="modal-body">
 <%= form_for @new_candidature, :url => candidature_path do |form| %>
   <fieldset class="fields">
     <div class="field">
       <%= form.label :prenom %>
       <%= form.text_field :prenom %>
     </div>
     <div class="field">
       <%= form.label :nom %>
       <%= form.text_field :nom %>
     </div>   
   <div class="field">
     <%= form.label :age %><br />
     <%= form.number_field :age %>
   </div>          
     <div class="field">
       <%= form.label :email %>
       <%= form.text_field :email %>
     </div>
   <div class="field">
     <%= form.label :annees_exp_impro %><br />
     <%= form.number_field :annees_exp_impro %>
   </div>    
     <div class="field">
       <%= form.label :message %>
       <%= form.text_area :message %>
     </div>
   </fieldset>
   

     <%= form.submit "Send", :class => 'btn btn-primary btn-danger' %>

 <% end %>
  </div>
</div>

