
<div class="hero-unit couverture">
</br>
</br>
</br>
</br></br>
</br></br>
</br>
<div class="btn-group">
  <button class="btn btn-primary"><%= link_to "Spectacles", spectacles_path %></button>
  <button class="btn btn-primary"><%= link_to "News", cavales_path %></button>
  <button class="btn btn-primary"><%= link_to "Qui sommes nous?", users_path%></button>
  <button class="btn btn-primary"><%= link_to "Nos planques", lieus_path %></button>
  <button class="btn btn-primary"><%= link_to "Principe", principe_page_path %></button>
  <button class="btn btn-primary"><%= link_to "Contact", contact_page_path %></button>
  <button class="btn btn-primary"><%= link_to "Galerie", photos_path %></button>
 


</div>

<%= render 'application/su_menu' %>
</div>

<%= bootstrap_flash %>
<div class="container-fluid">
	<ul class="thumbnails">
  	<li class="span8">
    	<div class="thumbnail fond-barrault">		
        <% unless @prochain_s.nil? %>
          <div class="row">
            <div class="span3">
              <%= image_tag @prochain_s.affiche.url(:homePage) %>
            </div>
            <div class="span4">

              <p class="muted">Notre prochain spectacle : </p>
              <h3><%= link_to @prochain_s.titre, @prochain_s %></h3>
              <h4><%=  @prochain_s.start_time.mday.to_s+"/"+@prochain_s.start_time.mon.to_s+"/"+@prochain_s.start_time.year.to_s%> à <%=@prochain_s.start_time.hour%>h<%=@prochain_s.start_time.min.to_s.rjust(2, '0')%> </h4>
      				<p><%= @prochain_s.teaser.html_safe %></p>
              <p><%= link_to "Lire la suite >>>", @prochain_s%></p>
            </div>
          </div>
        <% end %>
    	</div>
  	</li>
    <li class="span3">
    	<div class="well">
        <%= render 'mailings/home_form' %>

      </div>
      <div class="well">

        <%= render 'widgets/join_modal' %>
    	</div>
      <div class="well"><center>

<div class="fb-follow" data-href="https://www.facebook.com/EvadesBarrow" data-layout="button_count" data-show-faces="true" data-colorscheme="dark" data-width="450"></div>      </center></div>



  	</li>    
	</ul>
</div>


<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span12 well">
<div class="page-header">
<h2> Dernières nouvelles de la cavale </h2>
</div>
      	<%= render :partial=>"cavales/display_messages", :collection =>@cavales, :as => :cavale %>
    	</div>
  	</div>
</div>



