
<div class="hero-unit couverture">
</br>
</br>
</br>
</br></br>
</br></br>
</br>
<div class="btn-group">
  <button class="btn btn-primary"><%= link_to "Spectacles", spectacles_path %></button>
  <button class="btn btn-primary"><%= link_to "News", cavales_path %></button>
  <button class="btn btn-primary"><%= link_to "Qui sommes nous?", users_path%></button>
  <button class="btn btn-primary"><%= link_to "Nos planques", lieus_path %></button>
  <button class="btn btn-primary"><%= link_to "Principe", principe_page_path %></button>
  <button class="btn btn-primary"><%= link_to "Contact", contact_page_path %></button>
  <button class="btn btn-primary"><%= link_to "Galerie", photos_path %></button>
    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu pull-right">
    <% if user_signed_in? %>
    <li><%= link_to 'Gestion de la mailing list', mailings_path %></li>    
    <li><%= link_to 'Gestion des spectacles', spectacles_path %></li>
    <li><%= link_to 'Gestion des lieux', lieus_path %></li>
    <li><%= link_to 'Gestion des Evadés', users_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Nouveau spectacle', new_spectacle_path %></li>
    <li><%= link_to 'Nouveau lieu', new_lieu_path %></li>
    <li><%= link_to 'Nouvel Evadé', new_user_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Générateur d\'affiches', affiche_templates_path %></li> 
     <li class="divider"></li>
   <li><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %></li>  
<% else %>
  <li><%= link_to "Se connecter", "login" %></li>
<%end%>

</div>
</div>

<%= bootstrap_flash %>
<div class="container-fluid">
	<ul class="thumbnails">
  	<li class="span8">
    	<div class="thumbnail">		
        <% unless @prochain_s.nil? %>
          <div class="row">
            <div class="span3">
              <%= image_tag @prochain_s.affiche.url(:homePage) %>
            </div>
            <div class="span4">
              <h3><%= link_to @prochain_s.titre, @prochain_s %></h3>
              <h4><%=  @prochain_s.start_time.mday.to_s+"/"+@prochain_s.start_time.mon.to_s+"/"+@prochain_s.start_time.year.to_s%> à <%=@prochain_s.start_time.hour%>h<%=@prochain_s.start_time.min.to_s.rjust(2, '0')%> </h4>
      				<p><%= @prochain_s.teaser.html_safe %></p>
              <p><%= link_to "Lire la suite >>>", @prochain_s%></p>
            </div>
          </div>
        <% end %>
    	</div>
  	</li>
    <li class="span3">
    	<div class="well">
        <%= render 'mailings/home_form' %>
        <%= render 'widgets/join_modal' %>
    	</div>
  	</li>    
	</ul>
</div>


<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span12 well">
<div class="page-header">
<h2> Dernières nouvelles de la cavale </h2>
</div>
      	<%= render :partial=>"cavales/display_messages", :collection =>@cavales, :as => :cavale %>
    	</div>
  	</div>
</div>



