<div class="hero-unit">
  <h1>Les Evadés de la rue Barrow</h1>
  <p>Oserez vous devenir leur complice?</p>
</div>

	<ul class="thumbnails">
  		<li class="span8">
    		<div class="thumbnail">
    			
            <% unless @prochain_s.nil? %>
            <div class="well">
                <h3><%= link_to @prochain_s.titre, @prochain_s %></h3>
                <h4><%=  @prochain_s.start_time.mday.to_s+"/"+@prochain_s.start_time.mon.to_s+"/"+@prochain_s.start_time.year.to_s      %></h4></div>
                <div class="row">
                <div class="span3">
                <%= image_tag @prochain_s.affiche.url(:homePage) %>
                </div>
                <div class="span4">
      				<p><%= @prochain_s.teaser.html_safe %></p>
                </div>
              </div>
            <% end %>
    		</div>
  		</li>
   
  		<li class="span4">
    		<div class="thumbnail">
    				<div class="well"></div>
      				<h3>Thumbnail label</h3>
      				<p>Thumbnail caption...</p>
    		</div>
  		</li>    
	</ul>

<%= render "application/nav_bar" %>

<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span8 well">
      	<!--Body content-->
    	</div>
       	<div class="span4 well">
      	<%= render "application/side_bar" %>	
    	</div>
  	</div>
</div>



