<!DOCTYPE html>
<html>
<head>
  <title>Les Évadés de la rue Barrow - Improvisation théâtrale</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag 'jquery.min'%>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>

</head>
<body>

		<div class="container">