<div class="btn-group">
  <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
     <i class="icon-cog"></i>
   
  </a>
  <ul class="dropdown-menu">
<% if user_signed_in? %>
    <li><%= link_to 'Gestion de la mailing list', mailings_path %></li>    
    <li><%= link_to 'Gestion des spectacles', spectacles_path %></li>
    <li><%= link_to 'Gestion des lieux', lieus_path %></li>
    <li><%= link_to 'Gestion des Evadés', users_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Nouveau spectacle', new_spectacle_path %></li>
    <li><%= link_to 'Nouveau lieu', new_lieu_path %></li>
    <li><%= link_to 'Nouvel Evadé', new_user_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Générateur d\'affiches', affiche_templates_path %></li> 
     <li class="divider"></li>
   <li><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %></li>  
<% else %>
  <li><%= link_to "Se connecter", "login" %></li>
<%end%>
  </ul>
</div>
