<%= render "standard_before_body" %>
<%= bootstrap_flash %>
	<div class="row-fluid">
       	<div class="span4">
      	<%= render "application/side_bar" %>	
    	</div>
    	<div class="span8 well">
      	<%= yield %>
    	</div>


    </div>
<%= render "standard_after_body" %>